<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707026186095-ckm0goej07babo1b44j3da3hs7dgr9g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707026186095-ckm0goej07babo1b44j3da3hs7dgr9g4</string>
	<key>API_KEY</key>
	<string>AIzaSyCbKnGYfarmNKNJkTmEv1AkHhXWHCgdpns</string>
	<key>GCM_SENDER_ID</key>
	<string>707026186095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hm.FootPrintGram</string>
	<key>PROJECT_ID</key>
	<string>footprintgram</string>
	<key>STORAGE_BUCKET</key>
	<string>footprintgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707026186095:ios:a618354bcede5a49</string>
	<key>DATABASE_URL</key>
	<string>https://footprintgram.firebaseio.com</string>
</dict>
</plist>